.react-flow {
    --xy-background-color: #f7f9fb;
    /* Custom Variables */
    --xy-theme-selected: #f57dbd;
    --xy-theme-hover: #c5c5c5;
    --xy-theme-edge-hover: black;
    --xy-theme-color-focus: #e8e8e8;

    /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
    --xy-node-border-default: 1px solid #ededed;

    --xy-node-boxshadow-default:
        0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
        0px 0.51px 1.01px 0px #0000001a;

    --xy-node-border-radius-default: 8px;

    --xy-handle-background-color-default: #ffffff;
    --xy-handle-border-color-default: #aaaaaa;

    --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
    --xy-node-boxshadow-default:
        0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
        /* light shadow */
        0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
        /* medium shadow */
        0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2);
    /* smallest shadow */
    --xy-theme-color-focus: #535353;
}